[[profiles.apps]]
title = "Prism Launcher (Offline)"
start_virtual_compositor = true

[profiles.apps.runner]
type = "docker"
name = "WolfPrismOffline"
image = "ghcr.io/Baz00k/gow-prism-offline:edge"

env = [
    "RUN_SWAY=1",
    "GOW_REQUIRED_DEVICES=/dev/input/event* /dev/dri/* /dev/nvidia*",
]

mounts = []
devices = []
ports = []

base_create_json = '''
{
  "HostConfig": {
    "IpcMode": "host",
    "CapAdd": ["NET_RAW", "MKNOD", "NET_ADMIN", "SYS_ADMIN", "SYS_NICE"],
    "Privileged": false,
    "DeviceCgroupRules": [
      "c 13:* rmw",
      "c 244:* rmw"
    ]
  }
}
'''
